*.ipr
*.iws
*.iml
*.class
*.apk
*.ap_
*.dex
/.idea/workspace.xml

bin/
gen/
.idea/
/build/
.DS_Store
.gradle
/local.properties
/infer-out/
/main/java/su/levenetc/playground/java/infer-out/
/references.txt
/src/main/java/su/levenetc/playground/java/temp/
